<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <style>
    * {
      font-size: 20px;
    }

    .main_form_div {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .submit_btn {
      width: 100%;
      margin-top: 10px;
      padding: 10px 20px;
    }

    input[type="text"] {
      padding: 5px 10px;
    }
  </style>
</head>

<body>
  
</body>

</html>